{% load staticfiles %}
<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    </head>
	<body>
	    <div class="page-header">
	        <h1><a href="/">Form</a></h1>
	    </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	                <form action="{% url 'request' %}" method="POST"> {% csrf_token %}
						Start Date:<br>
						<input type="date" name="start_date" id="start_date" class="form-control">
						<br>
						End Date:<br>
						<input type="date" name="end_date" id="end_date" class="form-control">
						<br>

						<label> Group by options:</label>
						<br>
						<input type="checkbox" name="group_by" value="date" checked>&nbsp;&nbsp;Date
						<br>
						<input type="checkbox" name="group_by" value="connection">&nbsp;&nbsp;Connection 
						<br>
						<input type="checkbox" name="group_by" value="app">&nbsp;&nbsp;App
						<br>
						<input type="checkbox" name="group_by" value="platform">&nbsp;&nbsp;Platform
						<br>
						<input type="checkbox" name="group_by" value="ad_type">&nbsp;&nbsp;Ad Type
						<br>
						<input type="checkbox" name="group_by" value="country">&nbsp;&nbsp;Country
						<br>
						<input type="checkbox" name="group_by" value="custom_1">&nbsp;&nbsp;Custom 1
						<br>
						<input type="checkbox" name="group_by" value="custom_2">&nbsp;&nbsp;Custom 2
						<br>
						<br>

						<input type="submit" value="Submit" class="form-control btn-submit">
					</form> 
	            </div>
	        </div>
	    </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="{% static 'js/result.js' %}"></script>
		<script type="text/javascript">
			$( function() {
				$("#start_date").datepicker();
				$("#end_date").datepicker();
			    $("#start_date" ).datepicker("option", "dateFormat", "yy-mm-dd")
			    $("#end_date" ).datepicker("option", "dateFormat", "yy-mm-dd")
			  } );
			
		</script>

	</body>
</html>
