{% load staticfiles %}
<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    </head>
	<body>
	    <div class="page-header">
	        <h1><a href="/">Form</a></h1>
	    </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	                <form action="{% url 'request' %}" method="POST"> {% csrf_token %}
						Start Date:<br>
						<input type="date" name="start_date" id="start_date" class="form-control">
						<span class="error-start-date" style="color: red;"></span>
						<br>
						End Date:<br>
						<input type="date" name="end_date" id="end_date" class="form-control">
						<span class="error-end-date" style="color: red;"></span>
						<br>

						<label> Group by options:</label>
						<br>
						<input type="checkbox" name="group_by" value="date" checked>&nbsp;&nbsp;Date
						<br>
						<input type="checkbox" name="group_by" value="connection">&nbsp;&nbsp;Connection 
						<br>
						<input type="checkbox" name="group_by" value="app">&nbsp;&nbsp;App
						<br>
						<input type="checkbox" name="group_by" value="platform">&nbsp;&nbsp;Platform
						<br>
						<input type="checkbox" name="group_by" value="ad_type">&nbsp;&nbsp;Ad Type
						<br>
						<input type="checkbox" name="group_by" value="country">&nbsp;&nbsp;Country
						<br>
						<input type="checkbox" name="group_by" value="custom_1">&nbsp;&nbsp;Custom 1
						<br>
						<input type="checkbox" name="group_by" value="custom_2">&nbsp;&nbsp;Custom 2
						<br>
						<br>
						<span class="error" style="color: red;"></span>
						<input type="submit" value="Submit" class="form-control btn-submit">
					</form> 
	            </div>
	        </div>
	    </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="{% static 'js/result.js' %}"></script>
		<script type="text/javascript">
			$( function() {
				$("#start_date").datepicker();
				$("#end_date").datepicker();
			    $("#start_date" ).datepicker("option", "dateFormat", "yy-mm-dd")
			    $("#end_date" ).datepicker("option", "dateFormat", "yy-mm-dd")

			    $(".btn-submit").click( function(evt) {
			    	$(".error-start-date").html("")
			    	$(".error-end-date").html("")
			    	$(".error").html("")

			    	evt.preventDefault();
					console.log($("#start_date").val())
					console.log($("#end_date").val())
					if($("#start_date").val() == "" && $("#end_date").val() == "") {
						$( "form" ).submit();
					}
					else{
						d1 = isValidDate($("#start_date").val())
						d2 = isValidDate($("#end_date").val())

						if(!d1) {
							$(".error-start-date").html("Invalid date - Format must be yyyy-mm-dd")
						}
						if(!d2) {
							$(".error-end-date").html("Invalid date - Format must be yyyy-mm-dd")
						}

						if(d1 && d1){
							if(new Date($("#start_date").val()).getTime() > new Date($("#end_date").val()).getTime()){
							    $(".error").html("End Date must be greater than Start Date")
							}
							else {
								$( "form" ).submit();
							}
						}
					}
			    })
			} );
			
		</script>

	</body>
</html>
